
/* ==================Google font===================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    /* background-color: #E5E5E5; */
}
header{
    background-color: #FFFBF0;
}
.container{
    width: 80%;
    margin: auto;
color: #FFFFFF;
}
.navbar{
    margin-top: 30px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.nav-logo img{
    width: 300px;
}
.nav-elements ul>li{
    display: inline;
    padding: 5px;
}
.nav-elements ul li>a{
    text-decoration: none;
    color: #3C3C3C;
    font-weight: 500;
    font-size: 16px;
}

/* ========================hero section===================== */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .hero-text{
    padding-top: 20px;
    padding-left: 130px;
} */
.hero-text h1{
    font-weight: bold;
    font-size: 80px;
}
.hero-text h1{
    color: #363958;
}
.hero-text h1>span{
    color: #FABE4C;
}
.hero-text-button{
    width: 160px;
    height: 60px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.hero-text-button:hover {
    /* background: linear-gradient(180deg,#85A019  0%,  #A4BC46 100%); */
    background: transparent;
    color: hotpink;
    border: 1px solid hotpink;

}
.hero-text-button:hover i{
    color: hotpink;
}
.hero-text-button a>i{
    color: white;
    margin-right: 4px;
}
.hero-image{
    width: 100%;
}

/* =============================human section=================== */
.human-header{
    color:#363958 ;
}
.human-section{
    display: flex;
    width:30%;
    justify-content: space-between;
    align-items: center;
}
.human-items{
    /* width:100%; */
    padding: 20px;
}
.human-items-image>img{
    width: 293px;
    height: 293px;
    background:#F1F1F1;
    border-radius: 20px;
    /* margin: auto; */
    padding: 10px;
}
.human-items>h3,p{
    color: #363958;
    margin-top: 10px;
}
.human-items>p{
    font-weight: 400;
}
.human-section-button{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.cloths-price{
    color:#FABE4C;
}



/* ===============================INFORMATION CENTER========================== */
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.info-details{
    display: flex;
    justify-content: center;
    width: 489px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 10px;
}
.info-details-image>img{
    width: 78px;
    height: 82px;
}
.info-details-text{
    padding-left: 15px;
}
.info-details-text>h3{
    color: #363958;
    font-size: 24px;
    font-weight: bold;
}
.info-details-text>p{
    color: #3E3E3E;
    font-size: 16px;
}
.info-big-image>img{
    width: 600px;
}

/* ================Responsive for Mobile device==================== */

@media only screen and (max-width: 480px) {

    /* =========navbar=========== */
    .nav-logo{
        margin: 0 auto;
    }
    .nav-logo img{
        width: 100%;
    }
    .nav-elements{
        display: none;
    }
    

    /* ===================hero section============ */
    .hero{
        flex-direction: column;
        margin: 20px 0;
    }
    .hero-text{
        text-align: center;
        padding: 5PX;
    }
    .hero-text h1{
        font-size: 35px;
    }

    /* =================women section======================= */

    .human-section{
        flex-direction: column;
        width: 100%;
    }

    /* =============INFORMATION SYSTEM=========== */

    .info{
        flex-direction: column;
        width: 100%;
    }
    .info-details{
        width: 100%;
        margin: 0 auto;
    }
    .info-big-image img{
        width: 100%;
    }

}

/* =================FOR MEDIEM DEVICE========== */

@media only screen and (max-width:768px) {
    .nav-logo{
        /* margin: 0 auto; */
        text-align: center;
    }
    .nav-logo img{
        width: 70%;
    }
    .nav-elements{
        display: none;
    }
    

    /* ===================hero section============ */
    .hero{
        flex-direction: column;
        margin: 20px 0;
    }
    .hero-text{
        text-align: center;
        padding: 5PX;
    }
    .hero-text h1{
        font-size: 45px;
    }

    /* =================women section======================= */

    .human-section{
        flex-wrap: wrap;
        width: 100%;
    }
    .human-items{
        width: 45%;
        margin-top: 2%;
        padding:0%;
    }


    /* =============INFORMATION SYSTEM=========== */

    .info{
        flex-direction: column;
        width: 100%;
    }
    .info-details{
        width: 100%;
        margin: 0px auto;
    }
    .info-big-image img{
        width: 100%;
        margin-top:20px ;
    }
}